xterm*faceName: Iosevka
xterm*faceSize: 12
xterm*scrollBar: false
xterm*scrollTtyOutput: false
xterm*vt100.translations: #override \n\
 Shift <Key>Home: scroll-forw(10000000000) \n\
 Shift <Key>End: scroll-back(10000000000)

! special
*.foreground:   #fffffc
*.background:   #292729
*.cursorColor:  #fffffc

! black
*.color0:       #292729
*.color8:       #423f42

! red
*.color1:       #FBD8C9
*.color9:       #ffe9c9

! green
*.color2:       #A3DDEA
*.color10:      #b7ffff

! yellow
*.color3:       #F6C8B8
*.color11:      #ffe0c0

! blue
*.color4:       #B0D3F5
*.color12:      #bbffff

! magenta
*.color5:       #C3BFC1
*.color13:      #ffdffa

! cyan
*.color6:       #8FB2F4
*.color14:      #a0dfff

! white
*.color7:       #e8e6e3
*.color15:      #fffffc

