xterm*faceName: Iosevka
xterm*faceSize: 12
xterm*scrollBar: false
xterm*scrollTtyOutput: false
xterm*vt100.translations: #override \n\
 Shift <Key>Home: scroll-forw(10000000000) \n\
 Shift <Key>End: scroll-back(10000000000)

! special
*.foreground:   #c7c5c5
*.background:   #221919
*.cursorColor:  #c7c5c5

! black
*.color0:       #221919
*.color8:       #595252

! red
*.color1:       #ab7f7e
*.color9:       #ab7f7e

! green
*.color2:       #ab6866
*.color10:      #ab6866

! yellow
*.color3:       #c2918e
*.color11:      #c2918e

! blue
*.color4:       #c6a6a4
*.color12:      #c6a6a4

! magenta
*.color5:       #ab5b54
*.color13:      #ab5b54

! cyan
*.color6:       #c7b5b1
*.color14:      #c7b5b1

! white
*.color7:       #c7c5c5
*.color15:      #c7c5c5

